<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free prize</title>
</head>
<body>
    <h1>Congratulations! You have won a free prize.</h1>
    <p>Click the button below to get a free prize!</p>
    <form action="http://127.0.0.1:8000/polls/1/vote/" method="post">
        <input type="hidden" name="choice" value="1">
        <button type="submit">Get your prize</button>
    </form>
</body>
</html>